@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #f7f9f9;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#game {
    position: relative;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#settings {
    width: 95vw;
    text-align: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

#settings > * {
    margin-bottom: 5px;
}

button:disabled {
    opacity: 0.4;
}

button {
    background: transparent;
    border: 1px solid rgba(42, 34, 213, 0.3);
}

input[type=range] {
    width: 30%;
}

#nextFrame {
    appearance: none;
    border-radius: 1px;
    height: 0.2vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

#nextFrame::-webkit-progress-bar {
    background-color: white;
}

#nextFrame::-webkit-progress-value {
    position: relative;
    background-color: #ff9f00;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}
